---
const pathname = Astro.url.pathname;
console.log(pathname);
---
<header class="site-header">
    <nav>   
        <div>
            <a href="/">home</a>
        </div>
        {pathname !== '/about' && (
            <div>
                <a href="/about">about</a>
            </div>)
        }
    </nav>
</header>


